In [1]:
import pandas as pd
from pulp import *
from random import normalvariate

In [2]:
d={'cust':['East', 'South',' Midwest', 'West'],
  'New_York':[211, 232, 240, 300],
  'Atlanta':[232, 212, 230, 280],
  'Dmd':[1800, 1200, 1100, 1000]}

In [3]:
d=pd.DataFrame(d)
d.set_index('cust')

          New_York  Atlanta   Dmd
cust
East           211      232  1800
South          232      212  1200
 Midwest       240      230  1100
West           300      280  1000

In [ ]:
# Add noise to the objective function
model = LpProblem("Maximize Glass Co. Profits", LpMaximize)

model += lpSum([(X[(c, w)] + (d.loc[c, w] + random.normalvariate(0, 5)))
                for w in wh for c in cust])

# Call the function 100 times and append results to list
output = []
for i in range(100):
    output.append(run_pulp_model(d))
df = pd.DataFrame(output)


# Print the value count df series Midwest from Atlanta
print(df['Midwest from Atlanta'].value_counts())

# Print the value count df series East from Atlanta
print(df['East from Atlanta'].value_counts())