Decision Theory Consider the following four alternatives and the payoffs under three states of nature. Using the different criteria, select the associated decisions. (Hence we would choose the one which is financially convincing)

In [5]:
import pandas as pd
data_df=pd.read_csv('Decision_Theory_alternatives_and_payoff_dataset.csv')
data_df.head()

       Unnamed: 0  Great Economy (0.3)  Good Economy (0.5)  Bad Economy (0.2)
0    Alternatives                  0.3                 0.5                0.2
1     Pursue MSIE             150000.0            100000.0            60000.0
2         Get MBA              95000.0             65000.0                0.0
3  Take job offer              70000.0             70000.0            70000.0
4  Start business             160000.0             80000.0           -10000.0

In [18]:
data_matrix = data_df.iloc[1:5, 1:4]
data_matrix

   Great Economy (0.3)  Good Economy (0.5)  Bad Economy (0.2)
1             150000.0            100000.0            60000.0
2              95000.0             65000.0                0.0
3              70000.0             70000.0            70000.0
4             160000.0             80000.0           -10000.0

### Applying Decision theory related optimization algorithm

Lets start with Game theory
> Maximax

- We need to determine the maximum value for each alternatives (i.e. maximum we can gain by pursuing MS in Industrial Engineering, Getting MBA, landing a job and giving a startup)
- Find the maximum of the maximum values

In [20]:
data_matrix.shape[0]

4

In [21]:
print(len(data_matrix))

4

In [22]:
max_inner = [] 

for i in range(len(data_matrix)):  
    max_inner_ith = max(data_matrix.iloc[i])
    max_inner.append(max_inner_ith)
    
    
print(max_inner)

[150000.0, 95000.0, 70000.0, 160000.0]

In [27]:
maximax_dt = max(max_inner)    
index=max_inner.index(maximax_dt)
data_df.iloc[index+1,0]

'Start business'

In [35]:
min_inner = []  
for i in range(len(data_matrix)):  
    min_inner_ith = min(data_matrix.iloc[i])
    min_inner.append(min_inner_ith)

print(min_inner)

[60000.0, 0.0, 70000.0, -10000.0]

In [37]:
maximax_dt = max(min_inner) 
index=min_inner.index(maximax_dt)
data_df.iloc[index+1,0]

'Take job offer'